@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Squada+One&display=swap');
/* google font */

body {
    --black: #191a20;
    --white: #fffbfa;
    --p-color: #28394f;
    --a-color: #ad3636;
    --t-color: #f1d587;

    margin: 0;

    font-family: "Nunito Sans", sans-serif;
    color: var(--black);
    background-color: var(--white);

    overflow-x: hidden
}

p {
    margin-top: 10px;
}

#houses {
    background-image: url('houses.png');
    background-size: cover;
    width: 100vw;
    height: calc(100vw*695/1325);
    box-shadow: 0 -10px 8px #23313c inset;
}

#duck {
    background-image: url('duck.png');
    background-size: cover;
    width: 100vw;
    height: calc(100vw*695/1325);
    box-shadow: 0 -10px 8px var(--white) inset;
}

.dark-bg {
    width: 100vw;
    background-color: #23313c;
    color: var(--white);
    display: flex;
    flex-direction: column;
    z-index: 1;

    align-items:center;
    box-shadow: 0 20px 18px #23313c;
}

.dark-bg p{
    max-width: 1100px;
}

div#header {
    width: 100%;
}

menu {
    padding: 0;
    margin: auto;
    overflow: hidden;
    list-style-type: none;
    display: flex;

    background-color: var(--p-color);
}

menu li {
    float: left;
}

menu li a {
    display: block;
    text-decoration: none;
    padding: 20px;

    font-weight: bold;
    color: var(--white);
}

menu li a:hover {
    background-color: var(--a-color);
}

menu li:last-child {
    display: none;
}

main {
    padding: 8px 15px 15px 15px;
    margin: auto;
    max-width: 1100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#name {
    font-size: max(15vw, 70px);
    margin: 15px;
    font-family: "Squada One", sans-serif;
}
    
@media screen and (max-width: 600px) {
    menu {
        display: flex;
        position: fixed;
        width: 100%;
        bottom: 0;
    }

    menu li:first-child {
        flex-grow: 1;
        background-color: var(--p-color);
        z-index: 5;
    }
    
    menu li:not(:first-child) {
        display: none;
        min-height: 0;
    }

    menu li:last-child {
        display: block;
        z-index: 10;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    
    @keyframes open-menu-element {
        from {
	    background-color: var(--p-color);
            transform: translateY(300%);
        }
        to {
	    background-color: var(--p-color);
            transform: translateY(0%);
        }
    }
    
    @keyframes hide-bg {
        from {
            background-color: #0000;
        }
        to {
            background-color: #0000;
        }
    }

    div.open menu {
        flex-direction: column-reverse;

        animation-name: hide-bg;
        animation-duration: 0.25s;
    }

    div.closed menu {
    	animation-name: hide-bg;
    	animation-duration: 0.25s;
    }

    div.open menu li {
        display: block;
    }
    
    div.open menu li:not(:first-child, :last-child) {
        animation-name: open-menu-element;
        animation-duration: 0.25s;
    }

    div.closed menu li:not(:first-child, :last-child) {
        animation-name: open-menu-element;
        animation-duration: 0.25s;
	animation-direction: reverse;
    }

    div.open menu li a {
        display: block;
    }

    div.open::before {
        content: "";
        position: fixed;
        display: block;
        min-width: 100%;
        min-height: 100%;
        backdrop-filter: blur(5px);
    }
}

@media (hover: none) {
  a:hover { color: inherit; }
}
