@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Squada+One&display=swap');

body {
    --black: #191a20;
    --white: #fffbfa;
    --p-color: #28394f;
    --a-color: #ad3636;
    --t-color: #f1d587;

    margin: 0;

    font-family: "Nunito Sans", sans-serif;
    color: var(--black);
    background-color: var(--white);
}

div#header {
    width: 100%;
}

menu {
    padding: 0;
    margin: auto;
    overflow: hidden;
    list-style-type: none;

    background-color: var(--p-color);
}

menu li {
    float: left;
}

menu li a {
    display: block;
    text-decoration: none;
    padding: 20px;

    font-weight: bold;
    color: var(--white);
}

menu li a:hover {
    background-color: var(--a-color);
}

menu li:last-child {
    display: none;
}

main {
    padding: 5px 15px 15px 15px;
}

@media screen and (max-width: 600px) {
    menu {
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    
    menu li:not(:first-child) {
        display: none;
    }

    menu li:last-child {
        float: right;
        display: block;
    }

    div.open menu {
        display: flex;
        flex-direction: column-reverse;
    }
    div.open menu li {
        display: block;
        float: bottom;
    }
    div.open menu li a {
        display: block;
    }

    div.open menu li:last-child {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
