@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

h1 {
    font-family: Kablammo, system-ui;
}

body {
    font-family: "Libertinus Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
    background: #ECDFD0;
}

#feature-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));
    gap: 1rem;
    align-items: stretch;
}

#feature-container a {
    background: #EBC0C0;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feature-container a:hover {
    box-shadow: -1px 5px 6px rgba(0, 0, 0, 0.15);
    background: #E9A1B0;
}

.c {
    text-decoration: none;
    color: inherit;
}
